/* Variáveis */
:root{
    --cor-principal:#16C74E;
    --tom-mediano:#0D7A30;
    --tom-escuro:#063615;
    --cor-de-fundo:#EDFDF2;
}
/* Importando Fontes */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* Reset do Navegador */
*{
    margin:0px;
    border:0px;
    padding:0px;
    box-sizing:border-box;
}
.container{
    height:100vh;
    display:grid;
    gap:2px;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows:repeat(30vh);
    grid-template-areas:
    "header header header header"
    "main main main main"
    "article article article1 article1"
    "section section1 section1 section2"
    "footer footer footer footer"
}
.box{
    background-color:red;
}
.div1{
    grid-area:header;
}
.div2{
    grid-area:main;
}
.div3{
    grid-area:article;
}
.div4{
    grid-area:article1;
}
.div5{
    grid-area:section;
}
.div6{
    grid-area:section1;
}
.div7{
    grid-area:section2;
}
.div8{
    grid-area:footer;
}