/* Importando Fontes */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* Definição de Variáveis */
:root{
    --cor-principal:#16C74E;
    --tom-mediano:#0D7A30;
    --tom-escuro:#063615;
    --cor-de-fundo:#EDFDF2;
    --centralizar:translatey(-80%)
}
/* Reset do Navegador */
*{
    margin:0px;
    padding:0px;
    border:0px;
    box-sizing:border-box;
    font-family:"Roboto", sans-serif;
    font-weight:500;
}
a{
    text-decoration:none;
    color:var(--tom-mediano);
    font-weight:500;
}
a:hover{
    font-weight:700;
}
body{
    background-color:var(--cor-de-fundo)
}
/* Header das Páginas */
.header{
    padding-top:20px;
    display:flex;
}
.navegacao, .interacao{
    display:none;
}
.saibamais{
    width:10%;
    padding-left:10%;
}
.saibamais img{
    width:35px;
    transform:translatey(20%);
}
.saibamais button{
    cursor:pointer;
}
.logo{
    width:10%;
    margin:0px 30%;
}
@media (min-width:800px){
    .header{
        max-height:90px;
        padding:2.5% 10% 0% 10%;
        display:block;
    }
    .header>*{
        display:inline-block;
    }
    .saibamais{
        display:none;
    }
    .logo{
        width:20%;
        margin:0%;
    }
    .logo img{
        width:70%;
    }
    .navegacao{
        width:50%;
        margin-left:8.5%;
        transform:translatey(-30%);
    }
    .navegacao li{
        display:inline-block;
        font-size:1em;
    }
    .navegacao li:nth-child(even){
        margin:0% 4%;
    }
    .interacao{
        width:20%;
        text-align:right;
        transform:translateY(-20%);
    }
    .button{
        padding:16% 0;
        border-radius:15px;
        background-color:var(--cor-principal);
        width:calc(100% + 30%);
        height:40px;
        font-weight:500;
        color:#FFFBFA;
        display:inline-block;
        box-shadow:5px 5px 10px 0px rgba(0, 0, 0, 0.3);
    }
    .button:hover{
        background-color:var(--tom-mediano);
        color:var(--cor-principal)
    }
    .button:active{
        transform: translateY(10%);
        transition:0.1s;
        box-shadow:3px 3px 6px 0px rgba(0,0,0,0.3);
    }
    .interacao>a{
        color:#555;
        display:inline-block;
        transform: translateY(10%);
        font-weight:300;
    }
    .interacao>a:hover{
        font-weight:400
    }
    .interacao>a::after{
        content:' |';
        font-size:30px;
        font-weight:100;
        color:#888;
        text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
    }
}